@model AspMvc5Multilingual.Models.Widget

@Html.ActionLink(GlobalRes.MainMenu, "Index", "Default", null, new { title = GlobalRes.Tooltip_help })

<br/>
<br/>

<div style="background: silver">
    @GlobalRes.Language: @ViewBag.Language<br/>
    @GlobalRes.Money: @($"{Model.Money:c0}") <br/>
    @GlobalRes.DateAndTime: @Model.DateTime.ToString("F") <br/>
</div>

<br/>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "")
    <div>
        @Html.LabelFor(model => model.Name, "Label text")
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "")
    </div>
    <input type="submit" value="@GlobalRes.Submit_and_test_error_messages" />
}
